<section class="channel">
    <div class="channel-header">
        <p class="header-title">{{ hot.ad_name }}</p>
    </div>
    <ul class="channel-list">
        <li v-for="item in hot.data.data" v-if="$index <= 2">
            <a href="/book?id={{item.fiction_id}}&title={{item.title}}">
                <div class="book">
                    <div class="book-img">
                        <img v-bind:src="item.cover" alt="{{ item.title }}"/>
                        <p class="finish" v-if="item.finish">完成</p>
                        <p class="finish" v-if="!item.finish">未完成</p>
                    </div>
                    <div class="book-message">
                        <p class="book-title">{{ item.title }}</p>
                        <p class="book-author">{{ item.authors }}</p>
                        <p class="book-summary">{{ item.summary }}</p>
                        <div class="book-tap-wrap">
                            <div class="book-tag" v-for="tag in item.tags" v-if="$index < 3">{{tag}}</div>
                        </div>
                    </div>
                </div>
            </a>
        </li>
    </ul>
</section>