<style>
    .shelf-top{
        padding: 10px 20px 0;
    }
    .shelf-search{
        margin-right: 46px;
        font-size: 12px;
        color: #ccc;
        border: 1px solid #eee;
        border-radius: 4px;
        line-height: 36px;
        background: url(http://image.read.duokan.com/mfsv2/download/fdsc3/p01dSYLeWtSR/tY73MgTfVw7UAS.png) no-repeat 10px center;
        background-size: 14px;
        padding-left: 32px;
    }
    .shelf-switch{
        width: 36px;
        height: 36px;
        float: right;
        border-radius: 4px;
        background: url(http://image.read.duokan.com/mfsv2/download/fdsc3/p01yLF3fEj8l/b7UfAdlfufQKML.png) no-repeat center;
        background-size: 16px;
        border: 1px solid #eee;
    }
</style>
<div>
    <div class="shelf-top">
        <div class="shelf-switch"></div>
        <a href="/search">
            <div class="shelf-search">输入书名/作者/关键字</div>
        </a>
    </div>
    <ul class="channel-list">
        <li>
            <a href="/book">
                <div class="book">
                    <div class="book-img">
                        <img alt="盗墓笔记" src="http://cover.read.duokan.com/mfsv2/download/s010/p01yfPOuJRok/dQJSYfAnD3AB42.jpg!s">
                    </div>
                    <div class="book-message">
                        <p class="book-title">盗墓笔记</p>
                        <p class="book-author">南派三叔</p>
                        <p class="book-summary">最新:《后记》</p>
                    </div>
                </div>
            </a>
        </li>
    </ul>
</div>