/*让头部fixed*/
.root{
    width: 100%;
    height: 100%;
}
.wrap{
    width: 100%;
    height:100%;
    overflow: hidden;
    position: relative;
}
.main{
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    overflow-y:scroll;
}
/*让头部fixed结束*/
/*头部开始*/
 .header-tab{
     width: 100%;
     text-align: center;
     line-height: 44px;
     background: #efeff0;
     border-bottom: 1px solid #ddd;
     position: relative;
 }
.header-tab a:before{
    content: "\4e66\67b6";
    display: block;
    margin: 0 auto;
    width: 2em;
}
.header-tab a:first-child:before{
    content: '\4e66\57ce';
}
.header-tab i{
    bottom: -1px;
}
.header-tab i:before{
    content: '';
    display: block;
    height: 2px;
    width: 34px;
    margin: 0 auto;
    background: #777;
}
.header-user{
    position: absolute;
    right: 0px;
    top: 0px;
    width: 44px;
    height: 44px;
    background: url(http://image.read.duokan.com/mfsv2/download/fdsc3/p01j041d5DOT/boUg2EJlVetOMC.png) no-repeat center;
    background-size: 16px;
}
.header-checkin{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 44px;
    height: 44px;
    background: url(http://image.read.duokan.com/mfsv2/download/s010/p01O5K5DzsAZ/2ZODzjwkRQh7l3.png) no-repeat center;
    background-size: 22px;
}
.Swipe-tab{
    position: relative;
    overflow: hidden;
    z-index: 1;
}
.Swipe-tab a{
    float: left;
    text-align: center;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.Swipe-tab-2 a{
    width: 50%;
}
.Swipe-tab i{
    position:absolute;
    left:0;
    -webkit-transition: -webkit-transform 0.3s ease-out;
}
.cf:after{
    clear: both;
    content: "";
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}
.Swipe-tab-active{
    color:#ff6600;
}
/*头部结束*/
/*搜索框 广告 导航*/
.top-home{
    background: #fff;
    border-bottom: 10px solid #f5f5f5;
}
.top-home-search{
    margin: 10px 13px;
    padding: 1px 0 0 30px;
    color: rgba(0,0,0,0.4);
    background: url(http://image.read.duokan.com/mfsv2/download/fdsc3/p01dSYLeWtSR/tY73MgTfVw7UAS.png) no-repeat 8px center;
    background-size: 14px;
    border: 1px solid #f5f5f5;
    border-radius: 2px;
    font-size: 11px;
    line-height: 33px;
}
.cover{
    width: 100%;
}
.top-home__btn{
    margin: 14px 0 4px;
    display: -webkit-box;
    width: 100%;
}
.top-home__btn li{
    line-height: 2.4;
    font-size: 12px;
    text-align: center;
    -webkit-box-flex: 1;
}
.top-home__icon {
    display: block;
    margin: 0 auto;
    width: 22px;
    height: 22px;
}
/*搜索框 广告 导航结束*/
/*重磅推荐（包含复用的样式）*/
.channel{
    background: #fff;
    border-bottom: 10px solid #f5f5f5;
    position: relative;
}
.channel-header{
    padding: 15px 13px 14px 13px;
    border-bottom: 1px solid #f0f0f0;
    position: relative;
}
.header-title{
    position:relative;
    font-weight: 700;
    font-size: 13px;
    line-height: 13px;
    color: rgba(0,0,0,0.9);
}
.header-title > span{
    position: absolute;
    margin: -1px 0 0 5px;
    padding: 3px 5px 2px 5px;
    font-size: 9px;
    line-height: 9px;
    color: #fff;
    background: #53ac7d;
    border-radius: 1px;
}
.header-tap{
    position: absolute;
    right: 13px;
    top: 9px;
}
.header-tap a{
    position: relative;;
    padding: 16px 7px;
    font-size: 12px;
    line-height: 12px;
    color: #999;
}
.header-tap a:after{
    content: '';
    position: absolute;
    top: 16px;
    bottom: 16px;
    right: -2px;
    width: 1px;
    border-right: 1px solid #ccc;
}
.header-tap a:last-child{
    padding-right: 0px;
}
.header-tap a:last-child:after{
    display: none;
}
.tab-on{
    color: #528ae8 !important;
}
.channel-list{
    padding: 0 13px;
}
.channel-list li{
    padding: 17px 0;
    border-bottom: 1px solid #f0f0f0;
}
.channel-list li:last-child{
    border:none;
}
.book{
    overflow: hidden;
}
.book-img{
    float: left;
    position: relative;
    width: 85px;
    height: 113px;
    background-color: #eeece8;
    border: 1px solid #f0f0f0;
    border-radius: 1px;
    overflow: hidden;
}
.book-img img{
    width: 100%;
    height: 100%;
    border-radius: 1px;
}
.finish{
    position: absolute;
    bottom: 0px;
    width: 100%;
    color: #fff;
    padding: 25px 7px 6px;
    font-size: 10px;
    line-height: 10px;
    background: -webkit-linear-gradient(top, rgba(0,0,0,0),rgba(0,0,0,0.3));
}
.book-message{
    margin-left: 100px;
    padding-top: 6px;
    background: #fff;
}
.book-title{
    margin-bottom: 4px;
    font-size: 16px;
    line-height: 17px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.book-author{
    margin-top: 8px;
    font-size: 12px;
    line-height: 12px;
    color: rgba(0,0,0,0.7);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.book-summary{
    margin: 8px 0 0;
    height: 2.8em;
    font-size: 12px;
    line-height: 1.4em;
    color: rgba(0,0,0,0.6);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    /*多行文字...*/
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.book-tap-wrap{
    margin: 10px;
    padding-top: 3px;
    overflow: hidden;
}
.book-tag{
    float: left;
    margin: -3px 7px 0 0;
    padding: 3px 6px 2px;
    max-width: 6em;
    font-size: 10px;
    line-height: 11px;
    color: #53ac7d;
    border-radius: 3px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border: 1px solid #53ac7d;
    margin-bottom: 10px;
}
.book-tag:last-child{
    margin-right: 0px;
}
.no-img-order{
    float: left;
    margin-top: 1px;
    font-size: 13px;
    line-height: 13px;
    color: rgba(237,83,85,0.9);
}
.no-img-info{
    margin-left: 27px;
}
.no-img-title{
    font-size: 15px;
    line-height: 15px;
    color: rgba(0,0,0,0.9);
    background: #fff;
    font-weight: 700;
}
/*重磅推荐结束*/
/*男生最爱 女生最爱的底部*/
 .channel-footer{
     border-top: 1px solid #f0f0f0;
     overflow: hidden;
 }
.channel-footer > a{
    float: left;
    width: 50%;
    padding: 14px;
    font-size: 13px;
    line-height: 1.3em;
    color: rgba(0,0,0,0.9);
    text-align: center;
    box-sizing: border-box;
}
.channel-footer > a:first-child{
    border-right: 1px solid #f0f0f0;
}
/*男生最爱 女生最爱的底部结束*/
/*限时免费开始*/
 .free{
     position: relative;
 }
.free-header{
    position: relative;
    padding: 10px 14px;
    border-bottom: 1px solid #f0f0f0;
    border-left: 6px solid #ffab18;
}
.free-header-title{
    font-size: 16px;
    color: #333;
}
.free-book{
    padding: 13px 14px 5px;
    font-size: 0;
    /*去除inline-block之间的空隙*/
}
.free-book li{
    width: 33.3%;
    display: inline-block;
    vertical-align: top;
    line-height: 1;
    margin-bottom: 8px;
}
.free-model{
    width: 86px;
    position: relative;
    overflow: hidden;
}
.free-img{
    position: relative;
    width: 86px;
    height: 113px;
    background-color: #eeece9;
    box-shadow: 0px 6px 5px -3px #aaa;
    border: 1px solid #f0f0f0;
    overflow: hidden;
    border-bottom: none;
}
.free-img img{
    width: 100%;
    height: 100%;
}
.free-info{
    padding-top: 8px;
}
.free-info h3{
    font-size: 13px;
    line-height: 1.4em;
    max-height: 2.8em;
    overflow: hidden;
    color: #8d8d8d;
    margin-bottom: 0px;
    font-weight: 400;
}
.u-tagRT{
    position: absolute;
    top: 0px;
    right: 0px;
    line-height: 1.4;
    background-color: #ef6c2c;
    color: #fff;
    width: 100%;
    font-size: 1.4rem;
    text-align: center;
    -webkit-transform-origin: top center;
    -webkit-transform: translateX(50%) rotate(45deg) translateY(50%) scale(0.8);
}
.u-tagRT.-freefiction{
    background-color: #49ab3f;
}
.u-tagRT.-freefiction:before{
    content: '\9650\514d';
}
.free-footer{
    display: block;
    border-top: 1px solid #f0f0f0;
    font-size: 14px;
    text-align: center;
    padding: 19px 0;
}
/*限时免费结束*/
/*底部精选专题结束开始*/
.bottom-ul{
    font-size: 0;
    padding: 3px;
}
.bottom-ul li{
    display: inline-block;
    width: 50%;
    padding: 3px;
    box-sizing: border-box;
}

.bottom-ul li img{
    width: 100%;
}
/*底部结束*/